// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css%27');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

//Custom Code
main {
    min-height: 500px;
}
.card {
    width: 15rem;
    height: 22rem;
    margin: 0 !important;
}
